* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    font-family: Overpass, 'Avenir Next', Roboto, 'Trebuchet MS',
                 'Source Han Sans TC', 'Noto Sans T Chinese',
                 'Pingfang TC', 'Microsoft Jhenghei', sans-serif;
}

.container {
    max-width: 64em;
    margin: auto;
}

.container h3 {
    font-weight: 400;
}

.countdown {
    padding: 2rem;
}

@media screen and (min-width: 32em) {
    .countdown {
        float: left;
        width: 50vw;
        height: 50vw;
        text-align: center;
    }

    .countdown:after {
        content: '';
        display: block;
        clear: both;
    }
}

@media screen and (min-width: 64em) {
    .countdown {
        width: 16rem;
        height: 16rem;
    }
}

.label {
    font-size: 5em;
    font-weight: bold;
    letter-spacing: -0.015em;
}
